* {
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
hr {
  margin: 0;
  padding: 0;
}

$main-title-color: #1D293F;
$main-text-color: #475569;
$highlight-color: #6AA6DA;

body {
  color: $main-text-color;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background: #F7F8FC;
}

.container {
  width: 1210px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  max-width: 100%;

  @media(max-width: 1250px) {
    max-width: 950px;
  }

  @media(max-width: 992px) {
    max-width: 750px;
  }

  @media(max-width: 767px) {
    max-width: 450px;
  }

  @media(max-width: 480px) {
    max-width: 100%;
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 105;
  background: #FFFFFF;
  border-bottom: 1px solid #DEE4ED;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  &__right {
    display: flex;
    align-items: center;
  }
  &__logo {
    display: block;
    margin-right: 23px;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin-right: 50px;


      @media (max-width: 1200px) {
        flex-direction: column;
        gap: 0;
      }
  }

  &__link {
    transition: 0.3s;
    &:nth-child(5) {
      display: none;
    }
  
    @media (max-width: 1200px) {
      border-bottom: 1px solid rgba(211, 219, 231, 0.5);
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
      position: relative;
      &:hover {
        background: #E1EDF8;
      }

      &:nth-child(3) {
        display: none;
      }
      &:nth-child(5) {
        display: block;
      }
    }

    &-item {
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #475569;
      cursor: pointer;
      &:hover {
        color: $highlight-color;
      }

      @media (max-width: 1200px) {
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
    }
  }

  &__login {
    padding: 10px 25px;
    border: 1px solid #D3DBE7;
    border-radius: 15px;
    display: inline-block;
    margin-right: 16px;
    transition: 0.3s;
    flex-shrink: 0;
    margin-left: 20px;

    &:hover {
      background-color: rgb(173, 173, 238);
      cursor: pointer;
    }

    @media (max-width: 1200px) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }
      &:active {
        background: orange;
      }
    }
    @media (max-width: 767px) {
      padding: 10px 0;
      border: none;
    }
  }

  &__log-link {
    color: $main-text-color;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  &__nav {
    display: block;
    transition: 0.3s;

    @media (max-width: 1200px) {
      position: fixed;
      right: -100%;
      background: #fff;
      width: 100%;
      height: 100%;
      top: 70px;
      z-index: 100;
      transition: 0.5s;
    }

    &.open {
      right: 0;
    }
  }

  &__burger {
    margin: 0px 32px;
  }
}


.burger {
  display: none;


  @media (max-width: 1200px) {
    display: flex;
  }

  &.open span {

    background: #ee684e;

    &:first-child {
      transform: rotate(45deg);
      margin-bottom: -3px;
    }

    &:nth-child(2) {
      display: none;
    }

    &:last-child {
      transform: rotate(-45deg);
    }

  }

  &__btn {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    width: 20px;
    flex-shrink: 0;
    align-content: center;

    span {
      width: 20px;
      margin-bottom: 5px;
      border-radius: 10px;
      height: 2px;
      background: #475569;
      display: block;
      transition: 0.3s;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #475569;
    margin-right: 10px;
  }
}


.btn-orange {
  text-align: center;
  display: inline-block;
  padding: 10px 25px;
  background: #EE684E;
  border-radius: 15px;
  transition: 0.3s;
  
  &--tel {
    margin-top: 10px;
    padding: 15px 30px;
    @media(max-width: 767px) {
      display: block;
      position: relative;
      bottom: -120px;
      left: 0;
    }
  }
  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }

  &:hover {
    background-color: #be4931;
    cursor: pointer;
  }
  
}

.main-page {
  padding: 80px;
  background: #FFFFFF;
  position: relative;
  &__box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 52px;
    line-height: 68px;
    color: $main-title-color;
    @media(max-width: 992px) {
      font-size: 44px;
      line-height: 57px;
    }
  
    @media(max-width: 767px) {
      font-size: 34px;
      line-height: 44px;
    }
  }

  &__first {
    margin-right: 80px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__subjects {
    display: flex;
    gap: 15px;
  }

  &__example {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  &__discipline {
    font-size: 12px;
    line-height: 16px;
    color: $highlight-color;
    text-decoration: underline;
  }
  &__second{
    @media(max-width: 767px) {
      display: none;
    }
  }
}

.form {
  margin-bottom: 16px;

  &__select {
    margin-right: 15px;
    padding: 15px 45px 15px 15px;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjI1IDcuNUwxMCAxMy43NUwzLjc1IDcuNSIgc3Ryb2tlPSIjNDc1NTY5IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
  }
}

select {
  padding: 15px;
  color: #737B80;
  border: 1px solid #D3DBE7;
  border-radius: 15px;
  font-size: 16px;
  line-height: 24px;
}

option {
  color: #222526;
  ;
}

option[default] {
  display: none;
}


.valuation {
  padding: 25px;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
        @media(max-width: 992px) {
          flex-direction: column;
          gap: 24px;
        }
  }

  &__data {
    font-size: 16px;
    line-height: 22px;
  }

  &__number {
    display: block;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: $main-title-color;
  }

  &__stars {
    display: flex;
    gap: 40px;
    @media(max-width: 992px) {
      gap: 0;
    }
  }
}

.stars {
  &__site {
    padding: 15px 30px;
    background: #FFFFFF;
    border: 1px solid rgba(211, 219, 231, 0.5);
    border-radius: 15px;
    @media(max-width: 992px) {
      margin-right: 16px;
    }
    @media(max-width: 767px) {
      padding: 6px 8px;
      margin-right: 8px;
    }
}

  &__number {
    margin-right: 10px;
    font-size: 18px;
    line-height: 26px;
    color: $main-title-color;
  }

  &__rate {
    display: flex;
    align-items: center;
  }
  &__group {
    @media(max-width: 992px) {
      width: 62px;
    }
  }
}

.stressful {
  padding: 100px;
  background: #fff;
  @media (max-width: 767px) {
    padding: 20px;
  }

  &__box {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    @media (max-width: 767px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    color: $main-title-color;
    @media (max-width: 992px) {
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
    }
  }
}

.section__title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 44px;
  line-height: 57px;
  color: $main-title-color;
  text-align: center;
  @media (max-width: 767px) {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
  }
}

.list {
  display: block;
  margin: 0 auto;

  &__item {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    list-style-image: url(images/bullet.svg);
  }
}

.expectation {
  padding: 100px;
  background: #F7F8FC;
  @media (max-width: 767px) {
    padding: 20px;
  }

  &__box {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__block {
    padding: 40px 30px;
    background: #FFFFFF;
    border: 1px solid rgba(211, 219, 231, 0.7);
    border-radius: 25px;
    width: calc(50% - 15px);
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}

.reason {
  &__title {
    margin: 30px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: $main-title-color;
  }

  .reason__element {
    background: url(images/exhausted-bullet.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position: top left;
    list-style: none;
  }

  .reason__element--positive {
    //background: url(images/relax-bullet.svg);
    //background-repeat: no-repeat;
    //padding-left: 25px;
    //background-position: top left;
    background: none;
    padding-left: 0;
    list-style: none;

    &:before {
      display: inline-block;
      background: url(images/right-bullet.svg);
      width: 14px;
      height: 14px;
      content: '';
      margin-right: 9px;
      border-radius: 100%;
      box-shadow: 2px 2px 0px #B3E9D7;
    }
  }
  &__img {
    @media (max-width: 992px) {
      display: block;
      margin: 0 auto;
    }
  }
}

.writer {
  overflow: hidden;
  padding: 100px;
  background: #fff; 
}
.swiper {
  overflow: inherit;
  position: relative;

  &-pagination {
    display: block;
    position: relative;
  }
  &-pagination-bullet {
    border-radius: 0;
    width: 50px;
    height: 4px;
    background: #6AA6DA;
    border-radius: 10px;
  }

  &-button-next {
    width: 110px;
    height: 100%;
    background: #F7F8FC;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #E1EDF8;
    border-radius: 25px 0px 0px 25px;
    position: absolute;
    top: 22px;
    right: -160px;
    cursor: pointer;
    &:after {
      display: none;
    }
    &:before {
      content: '';
      height: 100%;
      display: block;
      width: 125px;
      position: absolute;
      top: 0;
      right: 110px;
      transform: rotate(-180deg);
      background: linear-gradient(90deg, #FFFFFF 21.6%, rgba(255, 255, 255, 0) 99.11%);
    }
    @media (max-width: 992px) {
      height: 88px;
      top: 220px;
      right: -50px;
      &:before {
        display: none;
      }
    } 
    @media (max-width: 767px) {
      height: 56px;
      top: 410px;
      right: -80px;
    }
  }
  &-button-prev {
    width: 110px;
    height: 100%;
    background: #F7F8FC;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: rgba(211, 219, 231, 0.5);
    border-radius: 0px 25px 25px 0px;
    position: absolute;
    left: -150px;
    top: 22px;
    cursor: pointer;

    &:after {
      display: none;
    }
    @media (max-width: 992px) {
      height: 88px;
      top: 220px;
      left: -40px;
    }
    @media (max-width: 767px) {
      height: 56px;
      top: 410px;
      left: -100px;
    }
  }
  &__go:hover {
    fill: #6AA6DA;
  }
}



.expert {
  padding: 25px 30px;
  display: flex;
  background: #FFFFFF;
  border: 1px solid rgba(211, 219, 231, 0.7);
  box-shadow: 0px 8px 28px rgba(71, 85, 105, 0.08);
  border-radius: 25px;
  position: relative;

  @media (max-width: 767px) {
    flex-direction: column;
    border: 0px;
  }

  &__about {
    width: 290px;
    margin-right: 30px;
    text-align: center;
    border-right: 1px solid rgba(211, 219, 231, 0.7);
    flex-shrink: 0;
    padding-right: 30px;
    @media (max-width: 767px) {
      border: 0px;
      width: 100%;
    }
  }

  &__reviews {
    width: calc(100% - 320px);
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__rating-img {
    margin-right: 5px;
  }


  &__status {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
  }

  &__online {
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__name {
    margin: 20px auto 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__nickname {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: $main-title-color;
  }

  &__estimate {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 15px;
    @media (max-width: 767px) {
      align-items: center;
      justify-content: center;
    }
  }

  &__mark {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $main-title-color;
  }

  &__review-number {
    font-size: 14px;
    line-height: 20px;
  }

  &__projects {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
    font-size: 14px;
    line-height: 20px;
  }

  &__number {
    color: $main-title-color;
  }

  &__button {
    display: block;
    padding: 10px 12px;
  }

  &__heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: $main-title-color;
    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }

  &__comment {
    padding: 15px;
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid rgba(211, 219, 231, 0.7);
    border-radius: 15px;
  }

  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    &-number {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $main-title-color;
    }

    &__rating {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__view {
    font-size: 14px;
    line-height: 20px;
    color: $main-title-color;
  }

  &__see-review {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    // position: relative;
        @media (max-width: 767px) {
          &:before {
            content: "";
            height: 40px;
            display: block;
            transform: rotate(-180deg);
            background: #00B67B;
            // background: linear-gradient(180deg, #FFFFFF 66.36%, rgba(255, 255, 255, 0) 100%);
            // position: absolute;
            top: 10px;
            left: 0;
          }
        }
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $highlight-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #23426e;
    }
  }
}

.benefits {
  padding: 35px 130px;
  background: #A788CE;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
  @media (max-width: 992px) {
    padding: 35px 24px;
  }
  @media (max-width: 767px) {
    padding: 25px 20px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 31.5px 16px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    @media (max-width: 992px) {
      padding: 24px 16px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      gap: 24px;
    }
  }
  &__left {
    @media (max-width: 992px) {
      margin-bottom: 24px;
    }
  }

  &__item {
    &:not(:last-child) {
      padding-right: 8px;
      border-right: 1px solid #F7F8FC;
      margin-right: 50px;
      @media (max-width: 992px) {
        margin-right: 20px;
      }
      @media (max-width: 767px) {
        width: 70vw;
        padding-bottom: 8px;
        border-right: 0;
        border-bottom: 1px solid #F7F8FC;
      }
  }
}
  &__number {
    font-weight: 700;
    font-size: 52px;
    line-height:68px;
    color: #FFFFFF;
  }
}

.process {

  &__box {
    padding: 100px 0px;
    @media (max-width: 992px) {
      padding: 80px 24px ;
    }
    @media (max-width: 767px) {
      padding: 60px 24px ;
    }
  }
  &__title {
    margin-bottom: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
  }
  &__step {
    position: relative;
    padding: 0px 90px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px rgba(71, 85, 105, 0.08);
    border-radius: 25px;
    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
    @media (max-width: 992px) {
      padding: 30px 40px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      padding: 80px 20px 30px 20px;
    }
  }
  &__first {
    flex-shrink: 0;
    @media (max-width: 767px) {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__img {
    width: 400px;
    height: 400px;
    @media (max-width: 992px) {
      width: 240px;
      height: 240px;
    }
    @media (max-width: 767px) {
      width: 120px;
      height: 120px;
    }
  }
  
  &__subheading {
    margin: 24px auto 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
     color: #1D293F;
  }
  &__text {
    font-size: 20px;
    line-height: 28px;
    color: #475569;
  }
}

.happy {
  background: #475569;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  @media (max-width: 767px) {
    padding: 60px 24px;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:before {
      content: '';
      height: 40px;
      display: block;
      width: 48%;
      position: absolute;
      top: 0;
      left: 15px;
      background: linear-gradient(180deg, rgba(211, 219, 231, 0.5) 0%, rgba(211, 219, 231, 0) 100%);
      @media (max-width: 992px) and (min-width: 768px){
        width: 44%;

      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    &:after {
      content: '';
      height: 40px;
      display: block;
      width: 48%;
      position: absolute;
      bottom: 0;
      left: 15px;
      background: linear-gradient(180deg, rgba(211, 219, 231, 0) 0%, rgba(211, 219, 231, 0.5) 100%);;
      @media (max-width: 992px) and (min-width: 768px) {
        width: 44%;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }
  
  &__students {
    width: calc(45.72% - 60px);
    flex-shrink: 0;
    margin-left: 120px;

    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 40px;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
    }
  }
  &__slider {
    margin-top: -25px;
    margin-bottom: -60px;
    
  }
 
  &__heading {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 44px;
    line-height:57px; 
    color: #FFFFFF;
  }
  &__motto {
    margin-bottom: 40px;
  }
  &__rates {
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 10px;
    }
  }
  &__grade {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

  }
  &__powered {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    @media (max-width: 767px) {
      display: none;
    }
  }
  
  &__verified {
    width: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px 21px;
    background: #FFFFFF;
    border: 1px solid rgba(211, 219, 231, 0.7);
    box-shadow: 0px 8px 28px rgba(29, 41, 63, 0.28);
    border-radius: 5px;
    @media (max-width: 767px) {
      display: none;
    }

    &-trustpilot {
        display: flex;
        gap: 5px;
        justify-content: flex-start;
        align-items: center;
      }
    &-reviews {
      font-weight: 500;
      font-size: 10px;
      line-height: 13px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #475569;
    }
  }
}

.comment {
  padding: 20px 30px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(211, 219, 231, 0.7);
  box-shadow: 0px 8px 28px rgba(29, 41, 63, 0.28);
  border-radius: 10px;
  color: #1D293F;
  
    @media (max-width: 992px) and (min-width: 768px) {
      &:last-child {
        display: none;
      }
    }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(211, 219, 231, 0.7) ;
  }
  &__name {
    margin-right: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  &__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(71, 85, 105, 0.6);
  }
  &__comment-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height:  28px;
  }
  &__comment-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475569;
  }
}

.order {
  padding: 100px;
  background: #fff;
  @media (max-width: 992px) {
    padding: 80px 20px;
  }

  &__features {
    width: 47%;
    padding: 40px 60px;
    background: #FFFFFF;
    border: 2px solid #A788CE;
    border-radius: 25px;
    position: relative;
    margin: 0 auto;
    box-shadow: 18px 19px 0 #CAAAD8;
    @media (max-width: 992px) {
      width: 75%;
      padding: 40px 60px;
    }
    @media (max-width: 767px) {
      width: 84%;
      padding: 30px 20px;
    }
  }
  &__all {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #1D293F;
    @media (max-width: 767px) {
      justify-content: center;
    }
    
    &-subheading {
      display: inline-block;
      margin-right: 47px;
      @media (max-width: 767px) {
        margin-right: 0;
      }
    }
    &-free{
      margin-left: 8px;
      color: #00B67B;
    }
  }
  &__element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(211, 219, 231, 0.7);
    background: url(images/check.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position: top left;
    list-style: none;
  }
  &__right {
    display: flex;
    gap: 13px;
  }
  &__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D293F;
  }
  &__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #1D293F;
  }
  &__free {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #00B67B;

    &--first{
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
    }
  }
  &__button {
    display: block;
    margin-top: 40px;
  }
}
.safety {
  padding: 100px;
  @media (max-width: 767px) {
    padding: 80px 20px;
  }
  &__blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    @media (max-width: 992px) {
        flex-direction: column;
      }
  }
  &__item {
    text-align: center;
    padding: 40px 30px;
    background: #FFFFFF;
    border: 1px solid rgba(211, 219, 231, 0.7);
    box-shadow: 0px 8px 28px rgba(71, 85, 105, 0.08);
    border-radius: 25px;
  }
}

.security {
  &__logo {
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #1D293F;
  }
  &__text {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    color: #475569
  }
  &__pay:not(:last-child){
   margin-right: 24px;
  }
}

.assist {
  background: #fff;
  padding: 100px;
  text-align: center;
  @media (max-width: 992px) {
    margin: 0;
    padding: 80px 20px;
  }
  @media (max-width: 767px) {
    padding: 60px 24px;
  }
  
  &__block {
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
    @media (max-width: 992px) {
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto auto;
    }
    @media (max-width: 767px) {
      grid-template-columns: auto;
      gap: 40px;
    }
  }
  &__item {
    padding: 50px 20px;
    border: 1px solid rgba(211, 219, 231, 0.7);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #475569;
    @media (max-width: 767px) {
      padding: 20px 20px;
    }
    &:hover {
      cursor: pointer;
      color: #6AA6DA;
      border: 1px solid #E1EDF8;
      box-shadow: 0px 8px 28px rgba(71, 85, 105, 0.08);
      border-radius: 10px;
    }
  }
}

.care {
  padding: 100px 0;
  background: #F7F8FC;
  @media (max-width: 992px) {
    padding: 80px 20px;
  }

  @media (max-width: 767px) {
    padding: 60px 24px;
  }
  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }
  &__rescue {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #1D293F;
  }
  &__right {
    flex-shrink: 2;
  }
  &__element {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #1D293F;
    background: none;
    padding-left: 0;
    list-style: none;

    &:before {
      display: inline-block;
      background: url(images/bullet.svg);
      width: 14px;
      height: 14px;
      content: '';
      margin-right: 9px;
      border-radius: 100%;
      box-shadow: 3px 4.15px 0px #CAAAD8;
    }
    }
  &__btn {
    margin-top: 20px;
    padding: 15px 30px;
    background: #6AA6DA;
  }
}

.faq {
  padding: 100px;
  background: #FFF;
  @media (max-width: 992px) {
    padding: 80px 20px;
  }
  @media (max-width: 767px) {
    padding: 60px 24px;
  }

  &__item {
    margin-bottom: 30px;
    padding: 25px 30px;
  }
}
.question {
  background: #F7F8FC;
  border: 1px solid rgba(211, 219, 231, 0.7);
  border-radius: 15px;
  
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__heading {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #475569;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #1D293F;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: 0.3s;
    overflow: hidden;
    .open & {
      margin-top: 20px;
      opacity: 1;
      visibility: visible;
      max-height: 1000px;
    }
  }
  &__right {
    display: block;
    flex-shrink: 0;
  }
  &__toggle {
    span {
      font-size: 0;
      height: 2px;
      width: 20px;
      background: #475569;
      display: block;
      border-radius: 5px;
      transition: 0.3s;
      &:last-child {
        transform: rotate(90deg);
        margin-top: -2px;
        .open &{
          transform: rotate(0);
          opacity: 0;
        }
      }
    }
  }
}




.plan {
  background-color: #fff;
  padding-bottom: 100px;
  position: relative;
 
  &__box {
    width: 70%;
    text-align: justify;
    display: block;
    margin: 0 auto;
  }
  &__text {
    margin-bottom: 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #1D293F;
    opacity: 0.76;
  }
  &__btn {
    background: #fff;
    border: 1px solid #6AA6DA;
    border-radius: 15px;
    &-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #6AA6DA;
    }
  }
}

.time {
  padding-bottom: 100px;
  background: #fff;
  @media (max-width: 767px) {
    padding-bottom: 60px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    gap: 45px;

    background: #E1EDF8;
    border-radius: 25px;
    @media (max-width: 767px) {
      padding: 31px 40px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      gap: 60px;
      padding: 30px 20px;
    }
  }
  &__title {
    margin-bottom: 16px;

    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 57px ;
    color: #1D293F;
    @media (max-width: 992px) {
      font-size: 34px;
      line-height: 44px;
    }
    @media (max-width: 767px) {
      font-size: 32px;
      line-height: 42px;
    }
  }
  &__paragraph {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #1D293F;
  }
  &__btn {
    padding: 15px 30px;
    @media (max-width: 767px) {
      display: block;
    }
  }
  &__right {
    flex-shrink: 0;
    @media (max-width: 992px) {
      width: 255px;
      height: 244px;
    }
  }
}
.footer {
  background: #475569;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  &__box {
    padding: 100px 0;
    display: grid;
    grid-template-areas: 
    "footer__useful footer__map footer__accept"
    "footer__useful footer__map footer__contact"
    "footer__owned footer__map footer__contact";
    grid-template-columns: 1fr 320px 180px;
    @media (max-width: 992px) {
      // padding: 80px 25px;
      grid-template-areas:
        "footer__useful"
        "footer__map"
        "footer__accept"
        "footer__contact"
        "footer__owned";
      grid-template-columns: 100%;
      gap: 50px;
    }
    @media (max-width: 767px) {
      // padding: 70px 20px;
    }
  }
  &__useful {
    grid-area: footer__useful;
    margin-right: 150px;
    @media (max-width: 992px) {
      margin: 0px;
    }
    &-title {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 24px;
    }
    &-text {
      margin-bottom: 31px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #D3DBE7;
      @media (max-width: 992px) {
        margin: 0px;
      }
    }
  }
  &__owned {
    grid-area: footer__owned;
    &-text {
      margin-top: 10px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #D3DBE7;
    }
  }
  &__map {
    grid-area: footer__map;
    margin-right: 120px;
    &-title {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 24px;
    }
    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__item {
    list-style: none;
    margin-bottom: 15px;
  }
  &__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height:  20px ;
    color: #E1EDF8;
  }
  &__accept {
    grid-area: footer__accept;
    margin-bottom: 30px;
    &-title {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 24px;
    }
    &-card {
      margin-right: 15px;
    }
  }
  &__contact {
    grid-area: footer__contact;
    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
    }
    &-us {
      @media (max-width: 992px) {
        display: flex;
        gap: 50px;
      }
    }
    &-title {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 24px;
    }
    &-block {
      display: flex;
      gap: 5px;
      
    }
    &-way {
      text-decoration: none;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px ; 
      color: #E1EDF8;
    }
    &__list {
      // display: block;
      @media (max-width: 992px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}

 